.button-o a {
  text-decoration: none;
  color: #000;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.534);
  border-right: 3px solid rgba(0, 0, 0, 0.534);
  border-radius: 15px;
  margin: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.button-o a:hover {
  background: #fe202f;
  box-shadow: 0 15px 10px rgba(229, 46, 46, 0.4);
  color: white;
  transform: translateY(-7px);
}
.button a {
  text-decoration: none;
  color: white;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.534);
  border-right: 3px solid rgba(0, 0, 0, 0.534);
  border-radius: 15px;
  margin: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  background: #fe202f;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.button a:hover {
  background: white;
  box-shadow: 0 15px 10px rgba(255, 255, 255, 0.068);
  color: black;
  transform: translateY(-7px);
}